* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.cd {
  margin: 0;
  font-weight: normal;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 32px;
  background: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.controls {
  margin-right: 16px;
}

.controls a {
  margin-right: 8px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  margin-top: 48px;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item img {
  width: 72px;
  max-height: 72px;
}

.item .preview {
  border: 1px solid grey;
}

.link {
  color: black;
  text-decoration: none;
  word-break: break-word;
  display: block;
  padding: 48px 32px;
}

.link:hover {
  text-decoration: underline;
  background: #f0f0f0;
}

.directory p {
  color: #d63031;
}
